
::-webkit-input-placeholder {
   color: #955;
   text-align: center;
}

::-moz-placeholder {  
   color: #955;
   text-align: center;
}

:-ms-input-placeholder {  
   color: #955;
   text-align: center;
}