@charset "UTF-8";
/* CSS Document */
html {font-size:13px;margin:0;padding:0;overflow-y:scroll;}
body {background-color:#fff;color:#000;font-family:Courier;margin:0;padding:0;}
#container {margin:0 auto;width:100%;min-height:100vh;}

#content {padding:0;margin:0;width:80%;float:right;min-height:100vh;}
#nav {padding:0;margin:25px 0 0 0;width:19%;float:left;min-height:70vh;border:0;border-right:1px dashed #c1c1c1;}

li {margin-bottom:10px;}

nav ul {list-style-type: none;margin:25px 0 0 0;padding:0;bottom:0;}
nav ul li {margin:0 0 15px 20px;}


h1 {font-size:2.5rem;margin:40px 0 0 0;}
h2 {font-size:1.8rem;margin:20px 0 0 0;}
h3 {font-size:1.25rem;font-weight:bold;}

h1,h2,h3,p {margin-left:20px;margin-right:20px;}

nav a {color:#c1c1c1;text-decoration:none;}

span.image {box-sizing:border-box;display:block;float:left;}
.image img {width:100%;}

.half {width:50%;float:left;margin-bottom:20px;}
.half ul {margin-top:0;margin-bottom:0;}

@media (max-width:400px) {
    html {font-size:15px;}
    .half {width:100%;margin-bottom:0;}
    .last {margin-bottom:20px;}
}

@media (min-width:401px) and (max-width:720px) {
    html {font-size:14px;}
    .half {width:100%;margin-bottom:0;}
    .last {margin-bottom:20px;}
}

@media (max-width:720px) {
    span.image {width: 100%;}
    #nav, #content {width:100%;}
    #content {padding-top:75px;}
    #nav {min-height:0vh;height:50px;border:0;border-bottom:1px dashed #c1c1c1;position:fixed;background-color:white;margin-top:0;}
    html {overflow-x:hidden;}
    nav ul {margin:20px 0 0 0;}
    nav ul li {display:inline;padding:0 10px 0 0;}
}

@media (min-width:721px) {
    span.image {width: 50%;}
}

@media (min-width: 1101px) {
    #container {width:1100px;}
}