<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">	
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Attribute Randomizer</title>
	<meta name="description" content="it's the attribute game, yo" />
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, target-densitydpi=device-dpi" />
	<script src="{{site.baseurl}}/resources/js/attributes.js"></script>
	<link rel="stylesheet" href="{{site.baseurl}}/resources/css/attributes.css" />
</head>
    
<body onload="getWord()">
    <div id="container">
        <div id="wrapper">
            <div id="words"></div>
            <a onclick="getWord()"><p id="getnew">get new</p></a>
        </div>
    </div>
</body>
</html>