<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, target-densitydpi=device-dpi" />
<title>{{ page.title }}</title>

<link rel="stylesheet" href="{{site.baseurl}}/resources/css/me.css" />

</head>

<body>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NNN3QR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NNN3QR');</script>
<!-- End Google Tag Manager -->
    
    <section id="nav">
        <nav>
            <ul id="mainnav">
            {% for page in site.pages_list %}
                <li><a href="{{ page[1]  }}">{{ page[0] }}</a></li>
            {% endfor %}   
            </ul>
        </nav>
    </section>
    <section id="content">
        {{ content }}
    </section>

</body>

</html>
